

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4 text-primary">Tableau de bord d'administration</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-body bg-light">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'manage_users' %}" class="text-decoration-none text-dark d-flex justify-content-between align-items-center">
                                <span>Gérer les utilisateurs</span>
                                <i class="bi bi-person-fill"></i>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'manage_offers' %}" class="text-decoration-none text-dark d-flex justify-content-between align-items-center">
                                <span>Gérer les offres</span>
                                <i class="bi bi-briefcase-fill"></i>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/admin" class="text-decoration-none text-dark d-flex justify-content-between align-items-center">
                                <span>Admin Django</span>
                                <i class="bi bi-tools"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
