{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4 text-primary">Gestion des offres</h1>
    <div class="card shadow border-0">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Annonceur</th>
                    </tr>
                </thead>
                <tbody>
                    {% for offer in offers %}
                    <tr>
                        <td>{{ offer.title }}</td>
                        <td>{{ offer.description }}</td>
                        <td>{{ offer.added_by.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
