{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    {% if user.userprofile.user_type == 'etablissement' %}
        <h2 class="text-center mb-4">Mes offres disponibles</h2>
    {% elif user.userprofile.user_type == 'student' %}
        <!-- Section de recherche d'offres -->
        <section class="py-5 bg-primary text-white text-center rounded mt-5">
            <div class="container">
                <h1>Rechercher une offre</h1>
                <form class="row g-3 justify-content-center">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Nom de l'offre ou domaine">
                    </div>
                    <div class="col-md-4">
                        <select class="form-select">
                            <option selected>Catégorie</option>
                            <option value="science">Sciences</option>
                            <option value="literature">Littérature</option>
                            <option value="engineering">Ingénierie</option>
                            <option value="arts">Arts</option>
                            <option value="business">Affaires</option>
                            <option value="medicine">Médecine</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-light w-100">Rechercher</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- Section des offres -->
        <section class="py-5">
            <div class="container">
                <!-- <h2 class="text-center mb-4">Les offres disponibles</h2> -->
                <div class="row">
                
                </div>
            </div>
        </section>
    {% endif %}





    <div class="row">
        {% if offres %}
            {% for offre in offres %}
                {% if user.userprofile.user_type == 'etablissement' and offre.added_by == user.userprofile %}
                    <!-- L'établissement voit uniquement ses propres offres -->
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title text-center">{{ offre.title }}</h4>
                                <h5 class="card-title text-center">Par : {{ offre.added_by.name }}</h5>
                                <h6 class="card-title text-center">{{ offre.study_domain }}</h6>

                                <div class="ratio ratio-4x3">
                                    <img src="{{ offre.image_url }}" class="img-fluid rounded-3" alt="img">
                                </div>
                                <div class="text-center">
                                    <a class="btn btn-primary mt-3" href="{% url 'offre_id' offer_id=offre.id %}">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif user.userprofile.user_type == 'student' %}
                    <!-- Les étudiants voient toutes les offres -->
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title text-center">{{ offre.title }}</h4>
                                <h5 class="card-title text-center">Par : {{ offre.added_by.name }}</h5>
                                <h6 class="card-title text-center">{{ offre.study_domain }}</h6>

                                <div class="ratio ratio-4x3">
                                    <img src="{{ offre.image_url }}" class="img-fluid rounded-3" alt="img">
                                </div>
                                <div class="text-center">
                                    <a class="btn btn-primary mt-3" href="{% url 'offre_id' offer_id=offre.id %}">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-center">Pas d'offre en cours</p>
        {% endif %}
    </div>
</div>


<div style="height: 50px;"></div>



{% endblock %}