{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% if offres %}
        {% for offre in offres %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ offre.title }}</h5>
                    <h5 class="card-title text-center">{{ offre.added_by.name }}</h5>
                    <h5 class="card-title text-center">{{ offre.study_domain }}</h5>

                    <div class="ratio ratio-4x3">
                        <img src="{{ offre.image_url }}" class="img-fluid rounded-3" alt="img">
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center">Pas d'offre en cours</p>
        {% endif %}
    </div>
</div>

{% endblock %}